<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="../vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">

        <% include sidebarmenu.ejs %>

        <!-- top navigation -->
        <% include topnav.ejs %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">

            <div class="page-title">
              <div class="title_left">
                <h3>Inbox Design <small>Some examples to get you started</small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>



            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Inbox To:<input type="text" name="to" id="to"></h2>

                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="col-md-4">
                      <div class="well">
                        <div id="users">
                          <h3> Online users </h3>
                          <ul class="list-group"></ul>
                        </div>
                      </div>
                    </div>
                      <div class="col-md-8">
                        <div class="chat" id="chat">

                        </div>
                        <form id="send-message">
                            <input type="text" value=<%= username %> id="username" hidden><br>

                            <label>Votre Message</label>
                            <textarea class="form-control" id="message"></textarea>
                            <br />
                            <input type="submit" class="btn btn-primary" value="Envoyer">
                        </form>
                      </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <% include footer.ejs %>
        <!-- /footer content -->
      </div>
    </div>

    <!-- socketio -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="../vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="../vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="../vendors/google-code-prettify/src/prettify.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>
    <script>
      jQuery(function($){
        var socket = io.connect();
        var $messageForm = $('#send-message');
        var $messagebox = $('#message');
        var $chat = $('#chat');
        var $username = $('#username') ;
        var $users = $('#users');
        var $to = $('#to');
         $( '#username' ).ready(function(){
        socket.emit('new user',$username.val(),function(data){
          if(data){
            console.log('new user');
          }
        });
         });

         socket.on('usernames',function(data){
           var html ='';
           for(i=0;i<data.length;i++){
             html += data[i]+'<br/>';
           }
           $users.html(html);
         });
        $messageForm.submit(function(e){
          e.preventDefault();
          socket.emit('send message',{msg:$messagebox.val(),to:$to.val()});
          $messagebox.val('');
        });
        socket.on('new message',function(data){
          $chat.append('<b style="color:black;margin:2px">'+data.nick+' :</b><span>'+data.msg + '</span><br>');
        });

      });
    </script>
  </body>
</html>
