<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ESSAT Dashboard </title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">
    // $(document).ready(function () {
    //   $('#stage').click(function (){
    //     $('#show-me').show('slow');
    //   });
    //
    //  });
    function show1(){
    document.getElementById('show-me').style.display ='none';
      }
    function show2(){
      document.getElementById('show-me').style.display = 'block';
      }
    </script>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">

        <% include sidebarmenu.ejs %>

        <!-- top navigation -->
        <% include topnav.ejs %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Plain Page</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Demandes</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li style="float:right"><a class="collapse-link"><i class="fa fa-chevron-up" ></i></a>
                      </li>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <form method="post" action="demande_doc">
                    <div class="x_content">
                      <div class="radio" style="margin-left:10px">
                        <input type="radio" value="Attestation de Reussite" name="demande" onclick="show1();">Attestation de reussite<br>
                        <input type="radio" value="Attestation d'inscription" name="demande" onclick="show1();">Attestation d'inscription<br>
                        <input type="radio" value="Demandes de Projet" name="demande" id="stage" onclick="show2();">Demandes de PFE/PFA<br>
                        <input type="radio" value="Relevé de notes" name="demande" onclick="show1();">Relevé de notes<br>
                        <input type="radio" value="Attestation de présence" name="demande" onclick="show1();">Attestation de présence<br>
                      </div>
                      <div id="show-me" hidden="hidden">
                        <table>
                          <div class="form-group"><tr><th><label>Encadreur :</label></th><th><input type="text" name="encadreur" class="form-control"></th></tr></div><br>
                          <tr><th>Description projet: </th><th><textarea name="description" placeholder="description" width="50px" class="form-control"></textarea></th></tr><br>
                          <tr><th>Binome:</th><th><input type="text" name="binome"></th></tr><br>
                          <tr><th>Titre Mémoire</th><th><input type="text" name="titre"></th></tr><br>
                        </table>
                      </div>
                      <button class="btn-info">
                        Valider
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              <!--2nd pannel-->
              <div class="col-md-12 col-sm-12 col-xs-12">
              <!-- here goes demandes -->
              <table border="1" class="table table-bordered">
                <tr><th>Demandes:</th><th>Etat:</th></tr>
                <% for (var dem in dems) { %><tr scope="row"><th><%= dems[dem].nature%></th><th scope="row"><% if (dems[dem].etat === false){ %> <i class="fa fa-spinner fa-spin fa-1x fa-fw"></i>
<% } else { %> <i class="fa fa-check" aria-hidden="true"></i><% } %></th></tr>
                <% } %>
              </table>

              </div>
              <!--3rd pannel-->
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
          <% include footer.ejs %>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>
  </body>
</html>
